body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#myTBR {
  width: 300px;
  height: 600px;
  background-color: #000;
  border: #000;
}

.vertical{
  padding: 10px;
  display: flex;
  flex-flow: column;
}

#holdTBR {
  width: 50px;
  height: 50px;
  background-color: #000;
  border: #000;
}


.next{
  width: 50px;
  height: 50px;
  background-color: #000;
  border: #000;
}
